@import 'fonts',  'media'

$w: #eceff4
$base-bg: #2e3440

*
  margin: 0
  padding: 0
  box-sizing: border-box

  &:before, &:after
    margin: 0
    padding: 0
    box-sizing: border-box

body
  font-family: "Consolas", 'Roboto Mono'
  margin: 0 auto
  background-color: $base-bg
  overflow-y: scroll
  color: $w

.container
  max-width: 600px
  margin: 0 auto
  padding: 20px

.header
  text-align: center

.monogram
  font-size: 24px
  font-weight: bold

// .playlist
//   margin-top: 20px

.listHeading
  font-size: 18px
  font-weight: bold
  margin-bottom: 5px

// a
//   display: block
//   margin-bottom: 5px
//   color: #000
//   text-decoration: none

//   &:hover
//     color: #007BFF

.activeTrack
  color: #007BFF
  font-weight: bold

// .text-controls
//   text-align: center
	
.text-controls
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  cursor: default

  span
    color: $w
    font-size: 0.9rem
    padding: 1px 0

    &.txt-btn:hover
      color: #d8dee9
      //background-color: white
      cursor: pointer

.txt-btn
  cursor: pointer
  color: #007BFF
	
#currentTitle
  margin: 10px auto
  margin-top: 6px
  color: white
  font-size: 1.5rem
  max-width: 100%
  word-wrap: break-word
  word-break: normal
	
audio#audioPlayer
  width: 100%
  display: none
	
	
.playlist
  margin-top: 80px
  border: 1px solid #e5e9f0
  h3
    display: block
    font-size: 1rem
    margin: 10px auto

  a
    display: block
    font-size: 1rem
    margin: 10px auto
    color: white
    text-decoration: none
    &:hover
      color: #d8dee9
    &:focus
      color: white
      text-decoration: none

    // &.activeTrack
    //   // background-color: white
    //   // color: black
    //   &:before 
    //     content: "♫ "

input[type=range]#trackProgressBar
  -webkit-appearance: none
  margin: 18px 0
  width: 100%
  margin-top: 8px
  border-bottom: dashed 1px #e5e9f0
  &:focus
    outline: none
    border: none

  &::-webkit-slider-runnable-track
    width: 100%
    height: 2px
    cursor: pointer
    animate: 0.2s
    box-shadow: none
    background: white
    border-radius: 1.3px
    border: 10px solid white
    border-right: none
    border-left: none

  &::-webkit-slider-thumb
    box-shadow: none
    border: none
    height: 20px
    width: 10px
    border-radius: 0px
    background: gray
    cursor: pointer
    -webkit-appearance: none
    margin-top: -10px

  &:focus::-webkit-slider-runnable-track
    background: white

  &::-moz-range-track
    width: 100%
    height: 0px
    cursor: pointer
    animate: 0.2s
    box-shadow: none
    background: white
    border-radius: 1.3px
    border: 10px solid white
    border-right: none
    border-left: none

  &::-moz-range-thumb
    box-shadow: none
    border: none
    height: 20px
    width: 10px
    border-radius: 0px
    background: gray
    cursor: pointer
    -webkit-appearance: none
    margin-top: -10px

  &::-ms-track
    width: 100%
    height: 0px
    cursor: pointer
    animate: 0.2s
    background: white
    border-color: white
    border-width: 10px 0
    color: transparent

  &::-ms-fill-lower, &::-ms-fill-upper
    background: white
    border: none
    border-radius: 0px
    box-shadow: none

  &::-ms-thumb
    box-shadow: none
    border: none
    height: 20px
    width: 10px
    border-radius: 0px
    background: gray
    cursor: pointer
    margin-top: 0px

  &:focus
    &::-ms-fill-lower, &::-ms-fill-upper
      background: white
	
	

#progressBar
  background-color: #00cc00
  color: #fff
  margin: 0
  padding: 2px
	
	
	

#trackProgressBar, #audioPlayer
  width: 100%
